#app{
  background-color: #DCDCDC;
  height: 100vw;
}

#equipment-id{
  font-weight: bold;
  font-size: 1.2vw;
}

#equipment-list{
  list-style: none;
  width: 50vw;
  padding: 0.01vw;
  margin-left: 25vw;
  overflow-y: scroll;
  border-style: solid;
  border-width: thin;
  height: 90vw;
}

#search-bar{
  padding: 0.5vw;
  margin: 1.5vw 0vw 0 40vw;
  width: 20vw;
}

.equipment-entry{
  font-size: 0.8vw;
  color: white;
  background-color: #708090;
  height: 3.5vw;
  padding: 1vw;
  border-style:solid;
  border-width:thin;
  font-size: 1vw;
}

@media screen and (max-width: 650px) {
  .equipment-entry {
    height: 6vw;
    font-size: 1.2vw;
  }

  #equipment-id{
    font-size: 1.6vw;
  }

  #equipment-list{
    height: 80vw;
  }

  #app{
    height: 100vw;
  }
}
